.container {
    display: flex;
    flex-direction: column;

    max-width: 550px;
    margin: 0 auto;

    min-height: 100vh;
}

.main {
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 1 1 auto;
}
