//colors

//Header
$matterhorn: #4d4d4d;
$floralWhite: #fff7ed;
$nero: #252525;

//Home
$white: #fff;
$neonCarrot: #ff8c38;

//About
$nero: #161616;
$peachOrange: #ffcc8d;

//Vans
$blanchedAlmond: #ffead0;

//Footer
$darkGrey: #aaaaaa;
